<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    @if (!auth.connectedUser()) {
      <ion-button routerLink="/login">Login</ion-button>
      <ion-button routerLink="/register">Register</ion-button>

    } @else {
      <p>Welcome {{auth.connectedUser()?.email}}</p>
      <ion-button (click)="auth.logout()">Logout</ion-button>
    }
  </div>
</ion-content>
