<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form>
        <ion-input label="Email" type="email" name="email" 
        email required
        errorText="You should enter a valid email" 
        [(ngModel)]="user.email"></ion-input>
        <ion-input label="Password" type="password" name="password" 
        required
        errorText="A password is required"
        [(ngModel)]="user.password"></ion-input>

        <ion-button type="submit">Register</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>